
@model Rocky_Models.ViewModels.OrderListVM
<form method="get">
    <div class="container p-4 my-3">
        <h2 class="text-info">Orders Management</h2>
        <div class="border bg-white p-3" style="border-radius:15px;">
            <div class="row">
                <div class="col-12">
                    <div class="row" style="padding-top:10px">
                        <div class="col-4">
                            @Html.Editor("searchName", new { htmlAttributes = new { @class = "form-control", @placeholder = "Name..." } })
                        </div>
                        <div class="col-4">
                            @Html.Editor("searchEmail", new { htmlAttributes = new { @class = "form-control", @placeholder = "Email..." } })
                        </div>
                        <div class="col-4">
                            @Html.Editor("searchPhone", new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone..." } })
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col-4">
                            @Html.DropDownListFor(u=>u.status, Model.StatusList,"--Order Status--",new {@class="form-select" })
                        </div>
                        <div class="offset-4 col-4">
                            <button type="submit" class="h-100 btn btn-info form-control">
                                <i class="fas fa-search"></i>Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<hr />
<h1>Index</h1>
<div>
	 <ejs-grid id="Grid" dataSource="@Model.OrderHeaderList" allowFiltering="true" allowSorting="true"  allowPaging="true" >
            <e-grid-filtersettings type="Menu"></e-grid-filtersettings>
           @* <e-grid-selectionsettings persistSelection="true" type="Multiple" checkboxOnly="true"></e-grid-selectionsettings>*@
             <e-grid-pagesettings pageSize="5"></e-grid-pagesettings>
            <e-grid-columns>
                @*<e-grid-column field="" type="checkbox" width="60" allowFiltering="false" allowSorting="false"></e-grid-column>*@
                <e-grid-column field="Id" headerText="ID" isPrimaryKey="true" textAlign="Right" width="110"></e-grid-column>
                <e-grid-column field="FullName" headerText="Name" isPrimaryKey="true" textAlign="Right" width="110"></e-grid-column>
                <e-grid-column field="Email" headerText="Email" isPrimaryKey="true" textAlign="Right" width="110"></e-grid-column>
                <e-grid-column field="PhoneNumber" headerText="Phone Number" isPrimaryKey="true" textAlign="Right" width="110"></e-grid-column>
                <e-grid-column field="OrderStatus" headerText="Order Status" isPrimaryKey="true" textAlign="Right" width="110"></e-grid-column>
                <e-grid-column field="OrderDate" headerText="Order Date" isPrimaryKey="true" textAlign="Right" width="110"></e-grid-column>
                @*<e-grid-column field="Employees" headerText="Employee Name" filter="@(new { type="CheckBox"})" clipMode="EllipsisWithTooltip" template="#empTemplate" width="200"></e-grid-column>
                <e-grid-column field="Designation" headerText="Designation" filter="@(new { type="CheckBox"})" clipMode="EllipsisWithTooltip" width="170"></e-grid-column>
                <e-grid-column field="Mail" headerText="Mail" filter="@(new { type="Menu"})" width="230"></e-grid-column>
                <e-grid-column field="Location" headerText="Location" template="#coltemplate" filter="@(new { type="CheckBox"})" width="140"></e-grid-column>
                <e-grid-column field="Status" headerText="Status" template="#statusTemplate" filter="@(new { type="CheckBox", itemTemplate="#StatusItemTemp" })" width="150"></e-grid-column>
                <e-grid-column field="Trustworthiness" headerText="Trustworthiness" filter="@(new { type="CheckBox", itemTemplate="${ trustTemp(data) }"})" template="#trustTemplate" width="200"></e-grid-column>
                <e-grid-column field="Rating" headerText="Rating" filter="@(new { type="CheckBox", itemTemplate="<div>${ratingDetail(data)}</div>"})" template="#ratingTemplate" width="160"></e-grid-column>
                <e-grid-column field="Software" headerText="Software" allowSorting="false" allowFiltering="false" template="#progessTemplate" width="180"></e-grid-column>
                <e-grid-column field="CurrentSalary" headerText="Current Salary" filter="@(new { type="Menu"})" format="C2" textAlign="Right" width="160"></e-grid-column>
                <e-grid-column field="Address" headerText="Address" filter="@(new { type="Menu"})" width="240"></e-grid-column>*@

                <e-grid-column field="Id" headerText="" width="70"
                               template="<a rel='nofollow' href='Order/Details/${Id}' class='btn btn-primary'> <i class='fas fa-list'></i><a>">

                </e-grid-column>
            </e-grid-columns>
        </ejs-grid>
</div>