
@model Rocky_Models.ViewModels.ArticleVM
@*Here in the "form" to identify where are data supposed to go*@
@*Here to go Create action*@
@*enctype="multipart/form-data" can make displaying image work*@
@{ var title = "Create Article"; }
@using Rocky_Utility
<form method="post" enctype="multipart/form-data">
    @*this is used to save the value of Id of the Model, or the id will  be 0*@

    @if (Model.Article.Id != 0)
    {
        // when create a new Article, no need to save article ID
        title = "Edit Article";
        <input asp-for="Article.Id" hidden />
    }

    <div class="border p-3">
        @*ModelOnly,All,None*@
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group" row>
            <h2 class="text-info pl-3">@title</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Article.Name"></label>
                    </div>
                    <div class="col-8">
                        @*TEXTBOX HERE*@
                        @*Validation should match with Data Model's Attribution'*@
                        @*The Name of Object will be put here !*@
                        <input asp-for="Article.Name" class="form-control" />
                        <span asp-validation-for="Article.Name" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <!--DISPLAY ORDER-->
                        <label asp-for="Article.Price"></label>
                    </div>
                    <div class="col-8">
                        @*TEXTBOX HERE*@
                        @*Validation should match with Data Model's Attribution'*@
                        @*The DisplayOrder of Object will be put here !*@
                        <input asp-for="Article.Price" class="form-control" />
                        <span asp-validation-for="Article.Price" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <!--DISPLAY ORDER-->
                        <label asp-for="Article.Discription"></label>
                    </div>
                    <div class="col-8">
                        @*TEXTBOX HERE*@
                        @*Validation should match with Data Model's Attribution'*@
                        @*The DisplayOrder of Object will be put here !*@
                        @*<input asp-for="Product.Discription" class="form-control" />*@
                        <textarea asp-for="Article.Discription" class="form-control summernote"></textarea>
                        <span asp-validation-for="Article.Discription" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <!--DISPLAY ORDER-->
                        @*<label asp-for="Image"></label>*@
                        Image
                    </div>
                    <div class="col-8">
                        @*TEXTBOX HERE*@
                        @*Validation should match with Data Model's Attribution'*@
                        @*The DisplayOrder of Object will be put here !*@
                        <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <!--DISPLAY ORDER-->
                        <label asp-for="Article.CategoryId"></label>
                    </div>
                    <div class="col-8">
                        @*TEXTBOX HERE*@
                        @*Validation should match with Data Model's Attribution'*@
                        @*The DisplayOrder of Object will be put here !*@
                        @*<select asp-for="CategoryId" asp-items="@ViewBag.CategoryDropDown" class="form-control">*@
                        @*ViewData is a <string, object> Dictionary, so that object type need to cast to desired type*@
                        @*<select asp-for="Product.CategoryId" asp-items="@ViewData["CategoryDropDown"] as IEnumerable<SelectListItem>" class="form-control">*@
                            <select asp-for="Article.CategoryId" asp-items="@Model.CategorySelectList" class="form-control">
                                <option disabled selected>--Selected Category--</option>
                            </select>
                            <span asp-validation-for="Article.CategoryId" class="text-danger"></span>
</div>

                </div>




                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            @if (Model.Article.Id != 0)
                            {
                                @*CREATE BUTTON*@
                                <input type="submit" class="btn btn-info w-100" value="Update" />
                            }
                            else
                            {
                                @*CREATE BUTTON*@
                                <input type="submit" onclick="return validateInput()" class="btn btn-primary w-100" value="Create" />
                            }

                        </div>

                        <div class="col">
                            @*BACK BUTTON*@
                            <a asp-action="Index" class="btn btn-success w-100">Back</a>
                        </div>

                    </div>


                </div>
            </div>
            <div class="col-4">
                @* Here is little tricky *@
                @*When user clicks "creat new product", at this moment, the id will be 0
                while, if user clicks "edit", then the productID will be available,which will not equal to 0*@
                @if (Model.Article.Id != 0)
            {
                <img src="@WC.ImagePath@Model.Article.Image" width="100%" style="border-radius:5px; border:1px solid #bbb" />
            }
                
            </div>
        </div>

    </div>
</form>

@*To do client-side validation, add the following lines*@

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

<script>
    // the following code came from summernode official website
    // https://summernote.org/getting-started/#installation
    $(document).ready(function () {
        $('.summernote').summernote({
        height:250
        });
    });


    // the following sample code came form sweetalert official website
    function validateInput() {
        if (document.getElementById("uploadBox").value == "") {
            // use sweetalert2 library
            // https://sweetalert2.github.io/#examples
            Swal.fire(
                'Error!',
                'Please upload an image !',
                'error'
            )
            return false;
        }
        return true;
    }
</script>
}






